<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" rel="text/css" href="../resources/css/loginstyle.css">
        <title>login sheet</title>
    </head>
    <body>
        <header>
            <div class="login-wrap">
                <form action="/" , method="POST">
                    <h3>Login</h3>
                    <div>
                        <p>ID</p>
                        <input type="text" class="input" name="user_id" required>
                    </div>
                    <div>
                        <p>PassWord</p>
                        <input type="password" class="input" name="user_password" required>
                    </div>
                    <input type="submit" class="button login" value="LOGIN">
                </form>
                <div>
                    if you don't have account? &nbsp;<a href="/register">CLICK HERE</a>
                </div>
            </div>
        </header>     
    </body>
</html>