<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        <link rel="stylesheet" rel="text/css" href="../resources/css/style.css">
    </head>
    <body>
        <nav>
            <h1 class="logo"><a href="/">LAB(<span class="color">SE</span>);</a></h1>
            <div>
                <a href="notice">notice</a>
                <a href="members">members</a>
                <a href="research">research</a>
                <a href="#">publications</a>
                <a href="#">courses</a>
                <% if(logined) { %>
                    <a class="login"><%= id %></a>
                <% } else { %>
                    <a href="login" class="login">login</a>
                <% } %>   
            </div>
        </nav>
        <section>
            <article class="member">
                <h3>Professor</h3>
                <hr>
                <div>
                    <img src="../resources/img/professor.jpg">
                    <div class="info">
                        <ul>
                            <li>Scott Uk-Jin Lee</li>
                            <li>scottlee@hanyang.ac.kr</li>
                            <li>TBA</li> 
                            <li>an asst. prof. in the CSE Dept.<br> @ HYU (ERICA) leading this Laboratory!</li> 
                        </ul>
                    </div>
                    <div class="career">
                        <ul>
                            <li>Career</li>
                            <li>
                            11 -      : Assistant Professor in CSE Dept. @ Hanyang University, Korea <br>
                            09 - 11 : Postdoc @ CEA LIST, France <br>
                            05 - 06 : SE Programmer in SE Dept. @ University of Auckland, NZ <br>
                            04 - 04 : Visiting Researcher @ National University of Singapore <br>
                            04 - 08 : Ph.D in Computer Science @ University of Auckland, NZ <br>
                            00 - 03 : BE in Software Engineering @ University of Auckland, NZ 
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="member">
                <h3>Ph.D.</h3>
                <hr>
                <div>
                    <img src="../resources/img/professor.jpg">
                    <div class="info">
                        <ul>
                            <li>Scott Uk-Jin Lee</li>
                            <li>scottlee@hanyang.ac.kr</li>
                            <li>TBA</li> 
                            <li>an asst. prof. in the CSE Dept.<br> @ HYU (ERICA) leading this Laboratory!</li> 
                        </ul>
                    </div>
                    <div class="career">
                        <ul>
                            <li>Career</li>
                            <li>
                            11 -      : Assistant Professor in CSE Dept. @ Hanyang University, Korea <br>
                            09 - 11 : Postdoc @ CEA LIST, France <br>
                            05 - 06 : SE Programmer in SE Dept. @ University of Auckland, NZ <br>
                            04 - 04 : Visiting Researcher @ National University of Singapore <br>
                            04 - 08 : Ph.D in Computer Science @ University of Auckland, NZ <br>
                            00 - 03 : BE in Software Engineering @ University of Auckland, NZ 
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <img src="../resources/img/professor.jpg">
                    <div class="info">
                        <ul>
                            <li>Scott Uk-Jin Lee</li>
                            <li>scottlee@hanyang.ac.kr</li>
                            <li>TBA</li> 
                            <li>an asst. prof. in the CSE Dept.<br> @ HYU (ERICA) leading this Laboratory!</li> 
                        </ul>
                    </div>
                    <div class="career">
                        <ul>
                            <li>Career</li>
                            <li>
                            11 -      : Assistant Professor in CSE Dept. @ Hanyang University, Korea <br>
                            09 - 11 : Postdoc @ CEA LIST, France <br>
                            05 - 06 : SE Programmer in SE Dept. @ University of Auckland, NZ <br>
                            04 - 04 : Visiting Researcher @ National University of Singapore <br>
                            04 - 08 : Ph.D in Computer Science @ University of Auckland, NZ <br>
                            00 - 03 : BE in Software Engineering @ University of Auckland, NZ 
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="member">
                <h3>M.E.</h3>
                <hr>
                <div>
                    <img src="../resources/img/professor.jpg">
                    <div class="info">
                        <ul>
                            <li>Scott Uk-Jin Lee</li>
                            <li>scottlee@hanyang.ac.kr</li>
                            <li>TBA</li> 
                            <li>an asst. prof. in the CSE Dept.<br> @ HYU (ERICA) leading this Laboratory!</li> 
                        </ul>
                    </div>
                    <div class="career">
                        <ul>
                            <li>Career</li>
                            <li>
                            11 -      : Assistant Professor in CSE Dept. @ Hanyang University, Korea <br>
                            09 - 11 : Postdoc @ CEA LIST, France <br>
                            05 - 06 : SE Programmer in SE Dept. @ University of Auckland, NZ <br>
                            04 - 04 : Visiting Researcher @ National University of Singapore <br>
                            04 - 08 : Ph.D in Computer Science @ University of Auckland, NZ <br>
                            00 - 03 : BE in Software Engineering @ University of Auckland, NZ 
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <img src="../resources/img/professor.jpg">
                    <div class="info">
                        <ul>
                            <li>Scott Uk-Jin Lee</li>
                            <li>scottlee@hanyang.ac.kr</li>
                            <li>TBA</li> 
                            <li>an asst. prof. in the CSE Dept.<br> @ HYU (ERICA) leading this Laboratory!</li> 
                        </ul>
                    </div>
                    <div class="career">
                        <ul>
                            <li>Career</li>
                            <li>
                            11 -      : Assistant Professor in CSE Dept. @ Hanyang University, Korea <br>
                            09 - 11 : Postdoc @ CEA LIST, France <br>
                            05 - 06 : SE Programmer in SE Dept. @ University of Auckland, NZ <br>
                            04 - 04 : Visiting Researcher @ National University of Singapore <br>
                            04 - 08 : Ph.D in Computer Science @ University of Auckland, NZ <br>
                            00 - 03 : BE in Software Engineering @ University of Auckland, NZ 
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <img src="../resources/img/professor.jpg">
                    <div class="info">
                        <ul>
                            <li>Scott Uk-Jin Lee</li>
                            <li>scottlee@hanyang.ac.kr</li>
                            <li>TBA</li> 
                            <li>an asst. prof. in the CSE Dept.<br> @ HYU (ERICA) leading this Laboratory!</li> 
                        </ul>
                    </div>
                    <div class="career">
                        <ul>
                            <li>Career</li>
                            <li>
                            11 -      : Assistant Professor in CSE Dept. @ Hanyang University, Korea <br>
                            09 - 11 : Postdoc @ CEA LIST, France <br>
                            05 - 06 : SE Programmer in SE Dept. @ University of Auckland, NZ <br>
                            04 - 04 : Visiting Researcher @ National University of Singapore <br>
                            04 - 08 : Ph.D in Computer Science @ University of Auckland, NZ <br>
                            00 - 03 : BE in Software Engineering @ University of Auckland, NZ 
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </section>
        <footer>
            <div class="row">
                <div>Wi Jun Bum, Bae Jin Woo, Park Jae Sun, Park Sung Su, Choi Jun Ho</div>
                <div>@Copyright Hanyang University</div>
                <div>SeLab Web Application Class</div>
            </div>
        </footer>
    </body>
</html>