<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" rel="text/css" href="../resources/css/style.css">
        <title>login sheet</title>
    </head>
    <body>
        <nav>
            <h1 class="logo">LAB(<span class="color">SE</span>);</h1>
            <div>
                <a href="notice">notice</a>
                <a href="members">members</a>
                <a href="research">research</a>
                <a href="#">publications</a>
                <a href="#">courses</a>
                <a href="login" class="login">login</a>
            </div>
        </nav>
        <section class="notice">
            <table>
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>연구원 모집</td>
                        <td>Scott-Lee</td>
                        <td>2018-11-11</td>
                        <td>56</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Welcome to SELab Homepage!</td>
                        <td>Scott-Lee</td>
                        <td>29 Apr 2014</td>
                        <td>32</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>2014 PL-SE First Joint Workshop</td>
                        <td>Scott-Lee</td>
                        <td>29 Apr 2014</td>
                        <td>1234</td>
                    </tr>
                </tbody>
            </table>
        </section>    
    </body>
</html>
