<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" rel="text/css" href="../resources/css/loginstyle.css">
        <title>Register page</title>
    </head>
    <body>
        <header>
            <div class="register-wrap">
                <form action="/register" , method="POST">
                    <h3>Register</h3>
                    <div>
                        <p>UserName</p>
                        <input type="text" class="input" name="id">
                    </div>
                    <div>
                        <p>Password</p>
                        <input type="password" class="input" name="pwd">
                    </div>
                    <div>
                        <p>Password Confirm</p>
                        <input type="password" class="input" name="pwd-conf">
                    </div>
                    <input class="button login" type="submit" value="Register">
                </form>
                <a href="/"><button class="button back">Back</button></a>
            </div>
        </header>
    </body>
</html>
