
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" rel="text/css" href="../resources/css/style.css">
    <title>Check Score</title>
</head>

<body>
    <nav>
        <h1 class="logo"><a href="/">LAB(<span class="color">SE</span>);</a></h1>
        <div>
            <a href="/notice">notice</a>
            <a href="/members">members</a>
            <a href="/research">research</a>
            <a href="#">publications</a>
            <a href="#">courses</a>
            <a href="login" class="login">login</a>

        </div>
    </nav>
    <div class="score_wrap" >
        <form action="/score" method="POST">
            <div class="score_info">
                <div>
                    <p>Writing your Student ID</p><br>
                    <input type="text" name="studentid" required>
                    <input type="submit" value="Enter">
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">

        var submit = document.querySelector("input[type=submit]");
        var score_wrap = document.querySelector(".score_wrap");
        
        submit.addEventListener('submit', function(event){
            score_wrap.classList.add("none");
        });

        
    </script>


        <%if(alert){ %>
            <div>
                <span>학번이 잘못 되었습니다.</span>
            </div>
        <% } %>

        <% if(results){ %>
            <div>
                <button class="score">midterm</button>
                <button class="score">finalterm</a></button>
                <button class="score">attendence</button>
                <button class="score">total</button>
            
            </div>
        <% } %> 

        <script>
            window.onload = function(){
        
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme:{
                    text: "score Chart"
                },
                axisY:{
                    includeZero:false
                },
                data: [{
                    type:"line",
                    dataPoints: [
			            { y: 450 },
			            { y: 414},
			            { y: 520, indexLabel: "highest",markerColor: "red", markerType: "triangle" },
			            { y: 460 },
			            { y: 450 },
			            { y: 500 },
			            { y: 480 },
			            { y: 480 },
			            { y: 410 , indexLabel: "lowest",markerColor: "DarkSlateGrey", markerType: "cross" },
			            { y: 500 },
			            { y: 480 },
			            { y: 510 }
		                ]
                }]
            });
            chart.render();
        }
        
        </script>
    
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>