<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" rel="text/css" href="css/loginstyle.css">
        <title>login sheet</title>
    </head>
    <body>
        <header>
            <div class="login-form">
                <div class="login-wrap">
                    <form action="/login", method="POST">
                        <div id="login-tag">Login</div>
                        <div class="group">
                            <br><br><br><label>Username or Email</label><br>
                            <input id="user" type="text" class="input" name="name" required>
                        </div>
                        <div class="group">
                            <label>Password</label><br>
                            <input id="pswd" type="password" class="input" name="pwd" required>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="LOGIN">
                         </div>
                    </form>
                <div class="group">
                    <form action = "/register" method="GET">
                        <input type="submit" class="button_signup" value="REGISTER"></a> 
                    </form>
                </div>
                </div>
            </div>    
        </header>

        <% if(alert == true){ %>
            <script text ="type/javascript">
                alert('Non exist username or Wrong password');
            </script>
       <% } %>

    </body>
</html>