<!DOCTYPE html>
<html>
    <head>
        <title>Register page</title>
    </head>
    <body>
        <form action="/register" method="POST">
            <p>Username : <input type="text" name="name" required></p>
            <p>Password : <input type="password" name="pwd" required></p>
            <p>Password Confirm : <input typed="password" name="pwdconf" required></p>
            <input type="submit" value="Register">
        </form>
        <form action="/login" method="GET">
            <input type="submit" value="Back">
        </form>

        <% if(alert == true){ %>
            <script text ="type/javascript">
                alert('already exist');
            </script>
       <% } %>

    </body>
</html>