<!DOCTYPE html>
<html>
    <head>
        <title>Register page</title>
    </head>
    <body>
        <form action="/register" method="POST">
            <p>Username : <input type="text" name="name"></p>
            <p>Password : <input type="password" name="pwd"></p>
            <p>Password Confirm : <input typed="password" name="pwdconf"></p>
            
        </form>
        <form action="/" method="GET">
            <input type="submit" value="Register">
        </form>
    </body>
</html>