*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html {
    background-color: #fff;
}

body {
    font-family: 'Open+sans';
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
}

header {
    padding: 120px 0;
    background-attachment: fixed;
    background-image:linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5)),url(../img/background1.jpg);
    background-size:cover;
    background-position:center;
    height: 100vh;
}

.login-wrap {
    width:510px;
	height:510px;
	position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-size: cover;
    background-color: rgba(13,13,13,0.73);
	box-shadow:0 12px 15px 0 rgba(0,0,0,.50),0 17px 50px 0 rgba(0,0,0,.90);
}

.register-wrap {
    width:700px;
	height: 100%;
	position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-size: cover;
    background-color: rgba(13,13,13,0.73);
	box-shadow:0 12px 15px 0 rgba(0,0,0,.50),0 17px 50px 0 rgba(0,0,0,.90);
}

h3 {
    margin: 30px 0 30px 20px;
    font-size: 40px; 
    font-weight: inherit;
}

form div {
    padding: 3%;
}

form div p {
    padding-left: 3%;
    padding-bottom: 10px;
    font-size: 25px;
}

input[type=text],
input[type=password]{
    display:inline-block;
    border: none;
    margin-left: 2%;
    width: 65%;
    height: 40px;
	border-radius: 5px;
	background:#4a4a4a;
    font-size: 22px;
}

input[type=submit]{
    margin: 20px 5% 0 5%;
}

.button {
    border: none;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
}

.login {
    float: left;
    background:#eedd11;
}

.register-wrap a button{
    margin-top: 20px;
}

.back {
    background-color:#2a39f4;
}

.login:hover,
.back:hover {
    opacity: 0.5;
}

.login-wrap > div {
    clear: left;
    padding: 30px 0;
    text-align: center;
    font-size: 15px;
}

.login-wrap a{
    color:#2a39f4;
    list-style: none;
    text-decoration: none;
}

.login-wrap a:hover{
    color:#363d99;
}
